.Spendit-Editor {
    border: 1px solid #DCDCDC;
    border-radius: 10px;
}

.Spendit-Content {
    min-height: 500px !important;
    max-height: 1000px;
    padding: 8px 12px;
    overflow-y: auto;
    overflow-x: hidden;
}

.Spendit-Content:focus {
    outline: none;
}

[data-slate-placeholder] {
    top: 12px !important; /* Spendit-Content의 padding */
}

.Spendit-Editor-Footer {
    display: flex;
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
    border-top: 1px solid #DCDCDC;
    background: #F8F8F8;
    height: 20px;
}

/* Toolbar */
.Spendit-Toolbar {
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #DCDCDC;
    background: #F8F8F8;
}

.Spendit-Toolbar-Button-Group-Wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 10px 12px;
    gap: 12px;
}

.Spendit-Toolbar-Group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid #DCDCDC;
    border-radius: 4px;
    background: white;
    gap: 12px;
    padding: 0 12px;
}




.Spendit-Toolbar-Button {

}

.Spendit-Toolbar-Toogle-Item {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    border-radius: 6px;
}
.Spendit-Toolbar-Toogle-Item-Pressed {
    color: red;
}

.Spendit-Dropdown-Menu-Primitive-SubTrigger {
    background: red;
}

.Spendit-Dropdown-Content {
    max-width: 200px;
    background: white;
    border: 1px solid #DCDCDC;
}

.Spendit-Toolbar-Selected-Label {
    display: inline-flex;
    align-items: center;
    font-size: 13px;
}

.Spendit-Dropdown-Icon-Wrapper {
    border-left: 1px solid #DCDCDC;
    margin-left: 4px;
}

.Spendit-Color-Dropdown-Menu-Item {
    width: 100%;
    height: 100%;
}

.Spendit-Color-Picker button {
    background: none;
    border: none;
    width: 20px;
    height: 20px;
    padding: 0;
}

.Spendit-DropdownMenu-RadioItem {
    padding: 10px 30px 10px 10px;
}